# Booking service
BOOKING_API_PORT=8000

BOOKING_POSTGRES_USER=postgres
BOOKING_POSTGRES_PASSWORD=password
BOOKING_POSTGRES_DB=db

# Filghts service
FLIGHTS_API_PORT=50051

FLIGHTS_POSTGRES_USER=postgres
FLIGHTS_POSTGRES_PASSWORD=password
FLIGHTS_POSTGRES_DB=db
