APP_PORT=8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_PORT=5432
POSTGRES_HOST=booking-db

API_KEY=secret

REDIS_MASTER_NAME=cachemaster
REDIS_REPLICAS=["redis-sentinel:26379"]
