APP_PORT=8000

CRON_INTERVAL_SECONDS=60

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=analytics
POSTGRES_PASSWORD=analytics
POSTGRES_DB_NAME=analytics

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_DB_NAME=analytics

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_USER=minio
MINIO_PASSWORD=minio123
MINIO_METRICS_BUCKET=movie-analytics
