# Auth service
AUTH_API_PORT=8000

AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=password
AUTH_POSTGRES_DB=auth

# Products service
PRODUCTS_API_PORT=8000

PRODUCTS_POSTGRES_USER=postgres
PRODUCTS_POSTGRES_PASSWORD=password
PRODUCTS_POSTGRES_DB=products
