KAFKA_SERVERS=kafka1:9092
KAFKA_CONSUMER_GROUP=warehouse-state-consumer
SCHEMA_REGISTRY_URL=http://schema-registry:8081
WAREHOUSE_TOPIC=warehouse-events
DLQ_TOPIC=warehouse-events-dlq

CASSANDRA_CONTACT_POINTS=cassandra-1,cassandra-2,cassandra-3
CASSANDRA_KEYSPACE=warehouse
CASSANDRA_LOCAL_DC=datacenter1
